<header [title]="headerTitle"></header>
<h1>{{filmTitle}}</h1>
<br/>
<div *ngIf="loading"><h2>Cargando personajes ...</h2></div>
<div *ngIf="!loading">
  <h2>Personajes:</h2>
  <characterInfo [characters]="characters"></characterInfo>
  <button [routerLink]="['/']" >Regresar</button>
</div>
