<div>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Genero</th>
        <th>Fecha de nacimiento</th>
        <th>Altura</th>
        <th>Color de cabello</th>
        <th>Color de piel</th>
        <th>Color de ojos</th>
        <th>Peliculas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let charac of characters">
        <td>{{charac.name}}</td>
        <td>{{charac.gender}}</td>
        <td>{{charac.birthYear}}</td>
        <td>{{charac.height}}</td>
        <td>{{charac.hairColor}}</td>
        <td>{{charac.skinColor}}</td>
        <td>{{charac.eyeColor}}</td>
        <td>
          <ul *ngFor="let film of charac.films">
            <li>{{film}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
