<header [title]="headerTitle"></header>
<div *ngIf="loading"><h2>Cargando ...</h2></div>
<div *ngIf="!loading">
  <h1>Peliculas</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Episodio</th>
        <th>Director</th>
        <th>Personajes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of films">
        <td>{{film.title}}</td>
        <td>{{film.episodeId}}</td>
        <td>{{film.director}}</td>
        <td><a routerLink="" (click)="redirect(film.characters, film.title)">Click aqui</a></td>
      </tr>
    </tbody>
  </table>
</div>
